<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">The AAG Mapathon</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<li><a href="{{ site.baseurl }}/index.html#summary-section" id="about-button">About</a></li>
								<li>
									<a href="{{ site.baseurl }}/schedule.html">Schedule</a>
									<ul>
										<li><a href="{{ site.baseurl }}/schedule.html#wednesday">Wednesday, March 30th</a></li>
										<li><a href="{{ site.baseurl }}/schedule.html#thursday">Thursday, March 30st</a></li>
										<li><a href="{{ site.baseurl }}/schedule.html#friday">Friday, April 1st</a></li>
									</ul>
								</li>
								<li>
									<a href="{{ site.baseurl }}/index.html#projects">Mapping Projects</a>
									<ul>
										<!--<li><a href="{{ site.baseurl }}/blog">Blog</a></li>-->
										<li><a href="{{ site.baseurl }}/meleke/">Meleke, Ethiopia</a></li>
										<li><a href="{{ site.baseurl }}/pokhara/">Pokhara, Nepal</a></li>
										<!--<li>
											<a href="">Phasellus consequat</a>
											<ul>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
												<li><a href="#">Veroeros feugiat</a></li>
												<li><a href="#">Nisl sed aliquam</a></li>
												<li><a href="#">Dolore adipiscing</a></li>
											</ul>
										</li>-->
										<li><a href="{{ site.baseurl }}/mozambique/">Mozambique</a></li>
									</ul>
								</li>
								<!--<li><a href="{{ site.baseurl }}/left-sidebar.html">Mapping Results</a></li>-->
								<li><a href="http://www.aag.org/annualmeeting" target="_blank">AAG Conference Site</a></li>
								<li>
								<a href="http://twitter.com/home?status=This AAG Annual Meeting will provide a 1st for all—a 3 day Mapathon!+aagmapathon.org+%23AAGmapathon+@theAAG+@MapGive+@GGSDepartment"><img src="{{ site.baseurl }}/assets/images/TwitterLogo.png" width="52" style="top:20px;position:relative"></a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
								</li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>March 30‒April 1, 2016, San Francisco</h2>
								<p>Organized by MapGive, George Mason University, and friends</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<!--<i class="icon featured fa-cog"></i>-->
										<i class="icon featured" style="padding-bottom: 0px;"><img src="{{ site.baseurl }}/assets/images/building78.png" height="80px"></i>
										<header>
											<h2>Secondary Cities and Urban Resilience </h2>
										</header>
										<!--<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>-->
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-flash"></i>
										<header>
											<h2>Disaster Preparedness and Response</h2>
										</header>
										<!--<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>-->
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-plus-circle"></i>
										<header>
											<h2>Health and Infectious Disease</h2>
										</header>
										<!--<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>-->
									</section>
								</div>
							</div>
							<footer>
								<div id="summary-section"></div>
								<ul class="actions">
									<li><a href="#projects" class="button big">Get Started Mapping</a></li>
									<li><a href="#summary-section" class="button alt big" id="summary-button">Learn More</a></li>
								</ul>
							</footer>
						</section>

						{% include summary.html %}

						<div id="container">
						</div>

						<script type="text/javascript">
							$( document ).ready(function() {
							    console.log( "ready!" );
							});

							$(window).load(function(){
							    // Remove the # from the hash, as different browsers may or may not include it
							    var hash = location.hash.replace('#','');

							    if(hash == 'summary-section'){

							       $("#summary-text").show('slow');

							       }
							   });

							$("#summary-button").click(function () {
								//$("#container").append($("#summary-text").html());
								$("#summary-text").show('slow');
							});

							$("#about-button").click(function () {
								//$("#container").append($("#summary-text").html());
								$("#summary-text").show('slow');
							});
						</script>

				</div>
			</div>